# temporary files
*.sw[op]
*~

# project files
/*.pro.user
/CMakeLists.txt.user

# in source generate files
/src/scm_version.cmake

# temporary build folder
build-release*/


# temporary...
_xxx/
*.zip

# openconnect 3rd party artifacts
/include
/lib
/nsis/*.dll
/nsis/openconnect.exe
