# temporary files
*.sw[op]
*~

# project files
/*.pro.user
/CMakeLists.txt.user

# in source generate files
/src/scm_version.cmake

# temporary build folder
build-release/


# temporary...
_xxx/
*.zip
